
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .footer__href-wrapper {
    width: 205px;
  }

  .header__href-wrapper {
    width: 205px;
  }

  .login__button_header {
    display: none;
  }

  .header__button {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__menu__button {
    display: block;
  }

  .header__href-wrapper {
    display: none;
  }
  .header__menu__href-wrapper {
    width: 235px;
    display: flex;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header {
    height: 65px;
  }
  .header__wrapper {
    margin-top: 5px;
  }

  .first-section {
    min-height: 500px;
    padding-bottom: 70px;
  }

  .first-section__heading {
    font-size: 40px;
    margin-top: 30px;
    line-height: 46px;
  }

  .first-section__par {
    margin-top: 40px;
    font-size: 16px;
  }

  .first-section__button-wrapper {
    flex-direction: column;
    max-width: 320px;
    align-items: center;
    margin: 50px auto 0;
  }

  .second-section__heading {
    font-size: 18px;
  }

  .second-section__text {
    font-size: 16px;
  }
  .second-section__form {
    margin-bottom: 50px;
  }
  .second-section__input-wrapper {
    flex-direction: column;
  }

  .second-section__input-wrapper-item {
    width: 100%;
    max-width: 100%;
  }

  .label {
    margin-top: 20px;
    padding-left: 0;
  }

  .inline-label-2 {
    float: right;
    margin-right: 20px;
  }

  .page-count {
    width: 45%;
  }

  .date {
    width: 45%;
  }

  .second-section__submit {
    max-width: 240px;
    padding: 13px 20px;
  }

  .third-sections {
    min-height: 300px;
    padding-bottom: 40px;
    background-size: auto;
  }

  .third-sections__heading {
    margin-top: 30px;
  }

  .third-sections__button {
    margin-top: 30px;
  }

  .four-sections__item-wrapper {
    flex-wrap: wrap;
  }

  .four-sections__item {
    flex: 1 1 220px;
  }

  .four-sections__item-wrapper-2 {
    margin-top: 0;
  }

  .four-sections__item {
    margin-top: 30px;
  }

  .missed-section {
    min-height: 500px;
    padding-bottom: 40px;
    background-size: auto;
  }

  .missed-section__text {
    margin-top: 70px;
    font-size: 18px;
    line-height: 30px;
  }

  .missed-section__bullet-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }

  .missed-section__bullet-item {
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .missed-section__bullet {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 10px;
    display: inline-block;
  }

  .missed-section__bullet__percent {
    font-size: 16px;
    margin: 0;
    display: inline-block;
  }

  .missed-section__bullet__text {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
  }

  .five-sections {
    min-height: 450px;
  }

  .five-sections__heading {
    padding-top: 60px;
  }

  .right-curve {
    display: none;
  }

  .left-curve {
    display: none;
  }

  .six-sections {
    padding-bottom: 60px;
  }

  .six-sections__heading {
    font-size: 24px;
    line-height: 35px;
    margin-top: 30px;
  }

  .six-sections__brand-block {
    flex-direction: column;
    margin-top: 30px;
  }

  .six-sections__brand-item {
    margin: 10px auto;
  }

  .six-sections__button {
    max-width: 260px;
  }

  .footer {
    min-height: 290px;
  }

  .footer__wrapper {
    height: 210px;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media only screen and (max-width : 500px) {
  .pop-up-author__form {
    padding: 0;
  }

  .pop-up-author__heading {
    font-size: 22px;
    line-height: 26px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .second-section__form {
    padding: 30px 15px;
  }

  .about-us__first-section {
    min-height: 640px;
  }

  .about-us__first-section__heading {
    font-size: 30px;
    line-height: 40px;
  }

  .about-us__first-section__li {
    font-size: 14px;
    line-height: 22px;
  }

  .about-us__number {
    font-size: 16px;
  }

  .about-us__first-section__ul {
    margin-left: 10px;
  }

  .about-us__second-section {
    padding-bottom: 50px;
  }

  .about-us__button-wrapper {
    height: 140px;
  }

  .pop-up {
    padding: 15px;
  }

  .pop-up__heading {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }

  .pop-up__submit {
    font-size: 13px;
    margin-top: 30px;
  }

  .our-team__second-section__heading {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width : 370px) {
  .date {
    background: #fff;
    padding-left: 15px;
  }
}

